<h1>Enter the date</h1>

<form action = '/day_output'>
  <div class = "form group">
    <label for="date to enter">The date</label>
    <input id="date" name="date" class="form_control" type="text">
  </div>
  <button type = "submit" class = "btn">Get corresponding weekday</button>
</form>