<h1>Enter the sentence to be Doggified!</h1>
<form action = '/fo_shizzle'>
  <div class = "form group">
    <label for="Sentence">Your sentence</label>
    <input id="sentence" name="sentence" class="form_control" type="text">
  </div>
  <button type = "submit" class = "btn">Go!</button>
</form>