<h1>Enter the sentence, number, or word to be reversed</h1>

<form action = '/reverse'>
  <div class = "form group">
    <label for="thing to enter">Your input</label>
    <input id="sentence" name="sentence" class="form_control" type="text">
  </div>
  <button type = "submit" class = "btn">Get Change</button>
</form>