<h1>CDs</h1>

<h3>Add a cd here:</h3>


<form action="/cds" method="post">
  <label for='title'>CD Title:</label>
  <input id='title' name='title' type='text'>

  <label for='artist'>CD Artist:</label>
  <input id='artist' name='artist' type='text'>

  <button type="submit">Add CD</button>
</form>

<h3> Here are all the cds in the library: </h3>

<ul>
	<% @cds.each do |cd| %>
		<li> <a href="/cds/<%=cd.title() %>"><%= cd.title() %></a></li>
	<% end %>
</ul>