<h1>Enter your move</h1>
<form action = '/game_output'>
  <div class = "form group">
    <label for="move_to_enter">Your move</label>
    <input id="move" name="move" class="form_control" type="text">
  </div>
  <button type = "submit" class = "btn">ROCK, PAPER, SCISSORS!</button>
</form>