<h1>Find out the type of triangle.</h1>

<form action="/type">
  <div class="form-group">
    <label for="length_1">Enter length 1</label>
    <input id="length_1" name="length_1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="length_2">Enter length 2</label>
    <input id="length_2" name="length_2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="length_3">Enter length 3</label>
    <input id="length_3" name="length_3" class="form-control" type="text">
  </div>
  
  <button type="submit" class="btn">Find Type</button>
</form>