<h1>Enter the sentence</h1>

<form action = '/sentence_modified'>
  <div class = "form group">
    <label for="enter_sentence">Your sentence</label>
    <input id="sentence" name="sentence" class="form_control" type="text">
  </div>
  <div class = "form group">
    <label for="replace_this">Your word to replace</label>
    <input id="word1" name="word1" class="form_control" type="text">
  </div>
  <div class = "form group">
    <label for="replace_with">Your new word to replace with</label>
    <input id="word2" name="word2" class="form_control" type="text">
  </div>
  <button type = "submit" class = "btn">Get modified sentence</button>
</form>