<h1>Enter the word</h1>

<form action = '/score_output'>
  <div class = "form group">
    <label for="coins_to_enter">Your word</label>
    <input id="word" name="word" class="form_control" type="text">
  </div>
  <button type = "submit" class = "btn">Get score</button>
</form>