
<h1>Favorite Traveling Photos</h1>
<ul>
<li><img src='img/beach.jpg' alt='A photo of a beach'/></li>
<li><img src='img/pisa.jpg' alt='A photo of Pisa'/></li>
<li><img src='img/palm_trees.jpg' alt='A photo of a palm trees'/></li>
</ul>

 