<h1>Enter the amount of of pennies</h1>

<form action = '/change_output'>
  <div class = "form group">
    <label for="coins_to_enter">Your coins</label>
    <input id="coins" name="coins" class="form_control" type="text">
  </div>
  <button type = "submit" class = "btn">Get Change</button>
</form>